@media only screen and (max-width:688px) {

    header{
        height: auto;
    }

    nav{
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        padding-left: 0px;
    }
    .mobile-nav{
        display: block;
        margin-right: 160px;
    }
    .mobile-nav img{
        width: 30px;
        height: 30px;
    }
    .menu{
        display: none;
    }

    .login{

        width: 90px;
        height: 30px;
        margin-right: 20px;
        padding: 7px 17px;
        align-items: center;
    }

    .heading-top{
        display: flex;
        flex-direction: column;
        height: auto;   
        
    }
    .heading-info{
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }

    .heading-image{
        width: 100%;
        margin-left: 15%;
        margin-top: 80px;
   }

    .heading-info h1{
        font-size: 50px;
        font-weight: 600;
        text-align: start;
        margin-left: 24px;
    }

    .heading-info a{
        font-size: 16px;
        margin-right: 180px;
        margin-left: 20px;
    }

    .players{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px ;
        margin: 15px auto;
        justify-items: center;
    }

    .player{
        width: 80%;
    }

    .player h2,p{
        text-align: left;
    }

    .latest-news h1{
        font-size: 40px;
        margin-bottom: 0px;
    }

    .latest-news hr{
        margin-left: 220px;
        margin-right: 117px;
        margin-bottom: 30px;
    }

    .all-news{
        flex-direction: column;
        margin-left: 100px;
   }

   .newsletter{
       height: auto;
   }

   .newsletter h1,p{
     color: #11171A;
     text-align: center;
 }

    .subscribe-button{
    width: 60%;
    margin-left: 25%;

   }

     .footer-design img {
        width: 320px;
        height: 72px;
    }
}